body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: rgb(231, 231, 231);
  background-image: url(svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: rgb(240, 87, 113);
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.caption {
  color: #ba8058;
  text-align: left;
  padding-left: 25%; 
}

/* ==========================================================
 * SVG Styles
 * ========================================================== 
 */

a:hover .nav-heart,
a:hover .nav-location,
a:hover .nav-contact {
  fill: rgb(240, 87, 113);
}

.st1 {
  opacity: 0;
}

.corgi-sable {
  color: #bb8846;
}

.corgi-fawn {
  color: #f1b57c;
}

.corgi-red {
  color: #774402;
}

.corgi-stone {
  color: #52595f;
}

/* --------------------------
  Keyframes
--------------------------- */

@keyframes slide {
  50% {
    transform: translate3d(0, -10px, 0);
  }
  80% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15) rotate(-5deg);
    opacity: 1;
    fill: #fdf097;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.15) rotate(-5deg);
    fill: rgb(233, 97, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ==========================================================
 * SVG Animations
 * ========================================================== 
 */

@media (min-width: 425px) {
 
  .st1 {
    transform-origin: 100% 0%;
  }

  .st1 {
    transform: translate3d(0, 180px, 0);
    animation: appear-grow .5s .7s forwards;
  }

  .st1:nth-of-type(1) {
    animation-delay: .1s;
  }
  .st1:nth-of-type(2) {
    animation-delay: .2s;
  }
  .st1:nth-of-type(3) {
    animation-delay: .3s;
  }
  .st1:nth-of-type(4) {
    animation-delay: .4s;
  }
  .st1:nth-of-type(5) {
    animation-delay: .5s;
  }
  .st1:nth-of-type(6) {
    animation-delay: .6s;
  }
  .st1:nth-of-type(7) {
    animation-delay: .7s;
  }
  .st1:nth-of-type(8) {
    animation-delay: .8s;
  }
  .st1:nth-of-type(9) {
    animation-delay: .9s;
  }
  .st1:nth-of-type(10) {
    animation-delay: 1s;
  }
  .st1:nth-of-type(11) {
    animation-delay: 1.1s;
  }
  .st1:nth-of-type(12) {
    animation-delay: 1.2s;
  }
  .st1:nth-of-type(13) {
    animation-delay: 1.3s;
  }
  .st1:nth-of-type(14) {
    animation-delay: 1.4s;
  }
  .st1:nth-of-type(15) {
    animation-delay: 1.5s;
  }

}

.st2 {
  transform-origin: 45% 60%;
}

#layer-1,
.nav-layer,
.corbi-layer {
  transition: transform .4s cubic-bezier(.74,-2.63,.36,4.84);
}

#layer-1:hover {
  transform: scale(1.1) rotate(-5deg);
}

#layer-1:hover .st0 {
  fill: #F4C6A6;
}

#layer-1:hover .st1 {
  fill: rgb(233, 97, 0);
}

#layer-1:hover .st2 {
  fill: #BA8058;
}

.nav-layer:hover {
  transform: scale(1.2);
}

.corbi-layer:hover {
  transform: rotate(-25deg);
}

.st0 {
  animation: appear 3s 0s forwards;
}

.st2 {
  transform: translate3d(0, 180px, 0);
  animation: slide .5s 2.3s forwards,
             grow .6s 3.1s ease-out forwards;
}

/* ==========================================================
 * Media Queries
 * ========================================================== 
 */

@media (min-width: 425px) {

  .logo-text {
    display: none;
  }

  .st1 {
    opacity: 1;
  }
 }